
/* Extends */

%flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


%flexbox-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

