/* MOBILE */

@import '../funciones/extends';
@import '../funciones/list';
@import '../funciones/mixins';


@media only screen and (min-width: 801px) {

    .desktop-none {
        display: none !important;
    }
 }

 @media only screen and (max-width: 800px) {
    *{
        margin: 0px;
        padding: 0px;
    }

    .none-mobile {
        display: none !important;
    }

    .titulos {
        font-size: 1.5rem;
        padding: 0px 20px;
    }

    .tabla {
        display: flex;
        flex-direction:column;
        margin: 0px;
    }

    nav {
        margin: 10px;
    }

    .boton-menu {
        padding: 10px;
        margin:  10px;
    }
    .table-elemento {
        margin: 10px 0 10px 0;
    }


    .destacados-img-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap !important;
        justify-content: space-around;
    }
    .destacado-img {
        width: 80%;
        opacity: 100%;
    }

    .glosario-elemento {
        width: 70% !important;
    }

    .glosario-portada {
        width: 85%;
    }
    body {
        background-image: url('../images/fondo-mobile.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
            font-family: "Inter Roman", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            line-height: 1.55;
            width: 100%;
            margin: 0px auto;
            color: rgb(1, 1, 1);
            font-weight: 400;
        }

    .tabla {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items: center;
     }
    
    .donde-elemento {
        width: 80%;
        background-color: rgb(255, 255, 255, 30%);
        border-radius: 25px;
        align-items: center;
        transition: 0.3s all;
        margin: 10px 5px 5px 5px;
    }
 
    
    .donde-elemento2 {
        height: 520px;
        width: 80%;
     }
 
     .donde-elemento3 {
         width: 80%;
         height: 450px;
     }

    .donde {
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items: center;
        margin: 10px 0px 10px 0px;
    }

    .placas-width {
        width: 75%;
    }

    .reco-tabla {
        justify-content:space-evenly;
        margin: 50px 0px 50px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        }
    

    .reco-elemento {
        background-color: rgb(255, 255, 255, 70%);
        border-radius: $borde-redondeado;
        align-items: center;
        transition: 0.3s all;
        margin: 20px;
        width: 80% !important;
        height: 420px;
        
    }

    .img-reco {
        height: 60px;
        width: 60px;
        border-radius: 50px;
        margin-top: 5%;
    }


    .frases-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 50px 0px 50px 0px;
    }

    .frases {
        width: 70%;
        margin: 20px;
        @include destacados(1rem);
    }
    
    .texto-vertical {
        writing-mode: horizontal-tb;
        text-orientation:sideways;
        text-transform: uppercase;
     
    }
    
    .parrafos {
        padding-left: 10%;
        padding-right: 10%;
    }

    .multimedia-mobile {
        width: 90%;
        height: 200px;
    }

 }



  /* FIN DEL MENÚ */


/* HOMEPAGE */




